.vs
/source/Test.VC.db
/source/Test.VC.VC.opendb
/source/Test.psess
/source/Test161106.vspx
/build/obj
/build/Debug/Ess3D/*
/build/Release/Ess3D/*
/build/Debug/Test/Test.exe
/build/Debug/Test/Test.ilk
/build/Debug/Test/Test.pdb
/build/Debug/Test/Levels
/build/Debug/Test/Shaders
/build/Debug/Test/Sounds
/build/Debug/Test/Textures
/build/Debug/Test/GUI
/build/Release/Test/Test.exe
/build/Release/Test/*.iobj
/build/Release/Test/*.ipdb
/build/Release/Test/Levels
/build/Release/Test/Shaders
/build/Release/Test/Sounds
/build/Release/Test/Textures
/build/Release/Test/GUI
/build/Debug/Test/*.log
/build/DebugNCP
/build/Release/Test/CEGUI.log
