.vs
/build/obj
/build/Debug/Ess3D/*
/build/Release/Ess3D/*
/build/Debug/Demo/Demo.exe
/build/Debug/Demo/Demo.ilk
/build/Debug/Demo/Demo.pdb
/build/Debug/Demo/Levels
/build/Debug/Demo/Shaders
/build/Debug/Demo/Sounds
/build/Debug/Demo/Textures
/build/Debug/Demo/GUI
/build/Release/Demo/Demo.exe
/build/Release/Demo/*.iobj
/build/Release/Demo/*.ipdb
/build/Release/Demo/Levels
/build/Release/Demo/Shaders
/build/Release/Demo/Sounds
/build/Release/Demo/Textures
/build/Release/Demo/GUI
/build/Debug/Demo/*.log
/build/DebugNCP
/build/Release/Demo/CEGUI.log
/.idea/
/source/cmake-build-debug/